
.certaluffy{
    background-color: red;
}
.certazoro{
    background-color: green;
}
.certanami{
    background-color: orangered;
}
.certaussop{
    background-color: #ffb968;
}
.certasanji{
    background-color: yellow;
}
.certachopper{
    background-color: #d37edb;
}
.certarobin{
    background-color: #4409cc;
}
.certafranky{
    background-color: #00eeff;
}
.certabrook{
    background-color: #808080;
}
.certajimbei{
    background-color: #001aff;
}
.duplacerta{
    background-color: #000000;
    color: white;
}


.tabela {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

